.skills-section{
  background-color: aquamarine;
}
 hr {
    border: 0;
    height: 1px;

  }
  
  .container-box {
    width: 80%;
    background-color: aquamarine;
    position: relative;
    z-index: 9;
  }
  

  
